* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #ffffff;
}

main {
  display: flex;
}
main .menu-vertical {
  background-color: #8E8FFA;
  padding: 30px;
  background-color: #190482;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid red;
}
main .menu-vertical nav ul li {
  background-color: #190482;
  padding: 20px 30px;
  list-style: none;
  border-radius: 10px;
  display: flex;
  align-items: end;
  margin: 10px 0px 10px;
}
main .menu-vertical nav ul li:hover {
  background-color: #8E8FFA;
}
main .menu-vertical nav ul li i {
  font-size: 1.3rem;
  margin-right: 10px;
}
main .menu-vertical span {
  padding: 20px 30px;
  font-size: 1.5rem;
  font-weight: bold;
}
main .menu-vertical .bg-theme {
  z-index: 2;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  top: 60%;
}
main .menu-vertical .bg-theme .theme-circles {
  display: flex;
  justify-content: left;
  align-items: center;
  align-items: center;
  justify-content: space-around;
}
main .menu-vertical .bg-theme .theme-circles i {
  font-size: 20px;
}
main .menu-vertical .bg-theme .dark-theme-border {
  width: 40px;
  height: 20px;
  border-radius: 20px;
  border: 3px solid #ffffff;
  position: relative;
}
main .menu-vertical .bg-theme .dark-theme-border:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: 1px;
  top: 50%;
  border-radius: 50%;
  background-color: #ffffff;
  transform: translateY(-50%);
  transition: left 1s;
}
main .menu-vertical .bg-theme .dark-theme-border.animation:before {
  left: 29px;
  background-color: #fff;
}
main .menu-vertical .bg-theme .dark-theme-border.animation {
  border: 5px solid #ffffff;
}
main .container {
  width: 100%;
  height: 100vh;
  border: 1px solid rgb(0, 255, 76);
}
main .container .subContainer {
  margin: auto;
  text-align: center;
  border: 1px solid rgb(234, 0, 255);
}
main .container .subContainer span {
  font-size: 1.5rem;
  color: #000000;
  font-weight: bold;
}
main .container .subContainer .entrada-de-dados {
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
main .container .subContainer .entrada-de-dados #inTarefa {
  padding: 8px;
  outline: none;
  border: none;
  font-size: 1rem;
  width: 80%;
  border-bottom: 1px solid rgba(238, 238, 238, 0.5882352941);
  color: #000000;
}
main .container .subContainer .entrada-de-dados #btAdd {
  background-color: #190482;
  color: #ffffff;
}
main .container .subContainer #btAdd {
  width: 100px;
  border: none;
  padding: 10px;
  border-radius: 8px;
  color: #fff;
  font-size: 1.2rem;
}
main .bts-laterais {
  width: 70px;
  align-items: center;
  position: absolute;
  bottom: 5%;
  right: 1%;
  border: 1px solid red;
}
main .bts-laterais .container-bt-excluir,
main .bts-laterais .container-bt-tarefa-concluida {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  color: #000000;
  box-shadow: 1px 3px 5px 3px rgba(238, 238, 238, 0.5882352941);
  padding: 10px;
  border-radius: 50%;
  margin: 20px auto;
  background-color: #ffffff;
}
main .bts-laterais .container-bt-tarefa-concluida:hover {
  background-color: green;
  transform: scale(1.1);
  transition: all 0.5s;
  color: #ffffff;
}
main .bts-laterais .container-bt-excluir:hover {
  background-color: red;
  transform: scale(1.1);
  transition: all 0.5s;
  color: #ffffff;
}

#lista {
  margin: 0px auto 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#lista .li-task {
  background-color: #8E8FFA;
  padding: 20px;
  display: flex;
  justify-content: center;
  margin: 10px;
  border-radius: 8px;
  font-size: 1.2rem;
  width: 100px;
  height: 100px;
  align-items: center;
  word-wrap: break-word;
}
#lista .li-task:hover {
  background-color: #7752FE;
  transform: scale(1.1);
  transition: all 0.5s;
  color: #ffffff;
}
#lista .li-task .bx bxs-trash-alt {
  display: none;
}
#lista .li-task.selecionada {
  background-color: #190482;
}
#lista .resposta {
  text-align: center;
}

/*cicles theme*/
.circle-theme-dark.animation {
  animation: moveToRight 0.5s ease;
}

@keyframes moveToRight {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(30px);
  }
}
.circle-theme-dark {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.circle-theme-dark {
  background-color: #000000;
  position: relative;
}

.circle-theme-dark.ativo {
  background-color: #ffffff;
}

.circle-theme-dark.desativado {
  border-radius: 5px solid white;
  background-color: #fff;
}

.body.dark {
  background-color: #030303;
  color: #fff;
}

.bg-theme.dark {
  background-color: transparent;
}

.branco {
  background-color: #fff;
}

@media (max-width: 600px) {
  .container {
    width: 400px;
  }
}/*# sourceMappingURL=style.css.map */