$cor-principal-dark: #190482;
$cor-secundaria: #7752FE;
$cor-light: #8E8FFA;
$cor-font-principal: #ffffff;
$cor-borda: #eeeeee96;
$task-concluida: green;
$task-excluida: red;


@mixin animacao ($background-color, $color){
    background-color: $background-color;
    transform: scale(1.1);
    transition: all 0.5s;
    color: $color;
}
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: $cor-font-principal;
}

main {
    display: flex;

    .menu-vertical {
        background-color: $cor-light;
        padding: 30px;
        position: static;
        background-color: $cor-principal-dark;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        //height: 100vh;
        border: 1px solid red;

        nav ul li {
            background-color: $cor-principal-dark;
            padding: 20px 30px;
            list-style: none;
            border-radius: 10px;
            display: flex;
            align-items: end;
            margin: 10px 0px 10px;

            &:hover {
                background-color: $cor-light;
            }

            i {
                font-size: 1.3rem;
                margin-right: 10px;
            }

        }

        span {
            padding: 20px 30px;
            font-size: 1.5rem;
            font-weight: bold;
        }

        .bg-theme {
            z-index: 2;
            border-radius: 10px;
            padding: 10px;
            position: relative;
            top: 60%;

            .theme-circles {
                display: flex;
                justify-content: left;
                align-items: center;
                align-items: center;
                justify-content: space-around;

                i {
                    font-size: 20px;
                }

            }

            .dark-theme-border {
                width: 40px;
                height: 20px;
                border-radius: 20px;
                border: 3px solid $cor-font-principal;
                position: relative;
            }

            .dark-theme-border:before {
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                left: 1px;
                top: 50%;
                border-radius: 50%;
                background-color: $cor-font-principal;
                transform: translateY(-50%);
                transition: left 1s;
            }

            .dark-theme-border.animation:before {
                left: 29px;
                background-color: #fff;
            }

            .dark-theme-border.animation {
                border: 5px solid #ffffff;
            }
        }
    }

    .container {
        width: 100%;
        height: 100vh;
        border: 1px solid rgb(0, 255, 76);

        .subContainer {
            margin: auto;
            text-align: center;
            border: 1px solid rgb(234, 0, 255);
            span {
                font-size: 1.5rem;
                color: #000000;
                font-weight: bold;
            }

            .entrada-de-dados {
                padding: 10px;
                display: flex;
                justify-content: space-around;

                #inTarefa {
                    padding: 8px;
                    outline: none;
                    border: none;
                    font-size: 1rem;
                    width: 80%;
                    border-bottom: 1px solid $cor-borda;
                    color: #000000;
                }

                #btAdd {
                    background-color: $cor-principal-dark;
                    color: $cor-font-principal;

                }
            }

            #btAdd {
                width: 100px;
                border: none;
                padding: 10px;
                border-radius: 8px;
                color: #fff;
                font-size: 1.2rem;
            }

        }
    }

    .bts-laterais {
        width: 70px;
        align-items: center;
        position: absolute;
        bottom: 5%;
        right: 1%;
        border: 1px solid red;
        .container-bt-excluir,
        .container-bt-tarefa-concluida {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            font-size: 1.5rem;
            color: #000000;
            box-shadow: 1px 3px 5px 3px $cor-borda;
            padding: 10px;
            border-radius: 50%;
            margin: 20px auto;
            background-color: $cor-font-principal;
        }

        .container-bt-tarefa-concluida {
            &:hover {
                @include animacao($task-concluida, $cor-font-principal);
            }
        }

        .container-bt-excluir {
            &:hover {
                @include animacao($task-excluida, $cor-font-principal);
            }
        }
    }
}

#lista {
    margin: 0px auto 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .li-task {
        background-color: $cor-light;
        padding: 20px;
        display: flex;
        justify-content: center;
        margin: 10px;
        border-radius: 8px;
        font-size: 1.2rem;
        width: 100px;
        height: 100px;
        align-items: center;
        word-wrap: break-word;

        &:hover {
            @include animacao($cor-secundaria, $cor-font-principal);
        }

        .bx bxs-trash-alt {
            display: none;
        }
    }


    .li-task.selecionada {
        background-color: $cor-principal-dark;
    }


    .resposta {
        text-align: center;
    }
}

/*cicles theme*/
.circle-theme-dark.animation {
    animation: moveToRight 0.5s ease;
}

@keyframes moveToRight {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(30px);
    }
}

.circle-theme-dark {
    border-radius: 50%;
    width: 30px;
    height: 30px;

}

.circle-theme-dark {
    background-color: #000000;
    position: relative;
}

.circle-theme-dark.ativo {
    background-color: #ffffff;
}

.circle-theme-dark.desativado {
    border-radius: 5px solid white;
    background-color: #fff;
}

.body.dark {
    background-color: #030303;
    color: #fff;
}

.bg-theme.dark {
    background-color: transparent;
}

.branco {
    background-color: #fff;
}






@media (max-width:600px) {
    .container {
        width: 400px;
    }

}