*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #242424;
}
.container{
    width: 400px;
    margin: auto;
    margin-top: 40px;
}
.subContainer{
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 20px;
}
#lista{
    margin: auto;
    width: 350px;
}
ul li {
    margin-bottom: 10px;
    border: 1px solid rgb(0, 0, 0);
    list-style: none;
    padding: 8px;
}
#inTarefa{
    padding: 8px;
    outline: none;
    border: none;
    border-bottom: 2px solid #000000;
    width: 70%;
    font-size: 1.2rem;
}
h1{
    color: #474747;
}
h1, input, button{
    margin-bottom: 10px;
}
#btExcluir, #btExcluirTd, #btAdd{
    color: #fff;
}
.resposta{
    text-align: center;
}
#checkbox{
    margin-right: 20px;
    margin-left: 20px;
}
#btExcluir,#btExcluirTd, #btAdd{
    background-color: rgb(79, 119, 95);
    width: 100px;
    border: none;
    padding: 8px;
}
#btExcluir:hover{
    background-color: rgb(56, 83, 67);
}
#btExcluirTd{
    width: 170px;
    background-color: rgb(209, 58, 58);
}
#btExcluirTd:hover{
    background-color: rgb(163, 48, 28); 
}
#btAdd{
    width: 40px;
    background-color: #000000;
}
#btAdd:hover{
    background-color: #0f0f0f; 
}

