* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #000000;
    background-color: #ffffff;
}

.container {
    width: 500px;
    margin: auto;
    margin-top: 40px;
}

.subContainer {
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 20px;
}

#lista {
    margin: auto;
    width: 350px;
}

ul li {
    background-color: #000000;
    margin-bottom: 10px;
    color: #fafafa;
    list-style: none;
    padding: 8px;
    border-radius: 6px;
    font-size: 1.2rem;
}

#inTarefa {
    padding: 8px;
    outline: none;
    border: none;
    border-bottom: 2px solid #000000;
    width: 100%;
    font-size: 1.2rem;
}

h1,
input,
button {
    margin-bottom: 10px;
}

.resposta {
    text-align: center;
}

.entrada-de-dados {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

#checkbox {
    margin: 10px;
}

#btExcluir,
#btAdd {
    width: 100px;
    border: none;
    padding: 10px;
    border-radius: 6px;
    color: #fff;
    font-size: 1.2rem;
}

#btExcluir {
    box-shadow: 1px 3px 5px 3px #bbbbbb36;
    color: #000000;
    background-color: #fff;
}

#btExcluir:hover {
    background-color: #fafafa;
}

#btAdd {
    background-color: #000000;
}

#btAdd:hover {
    background-color: #0f0f0f;
}

/*cicles theme*/
.theme-circles {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
/*
.circle-theme-dark.animation {
    animation: moveToRight 0.5s ease;
}

@keyframes moveToRight {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(30px);
    }
}
*/
.circle-theme-dark,
.circle-theme-anime {
    border-radius: 50%;
    width: 30px;
    height: 30px;

}

.circle-theme-dark {
    background-color: #000000;
    position: relative;
}

.circle-theme-anime {
    background-color: orangered;
}

.circle-theme-anime.ativo {
    background-color: orangered;
}

.circle-theme-dark.ativo {
    background-color: #ffffff;
}

.circle-theme-dark.desativado {
    border-radius: 5px solid white;
    background-color: #fff;
}

.circle-theme-anime.desativado {
    border-radius: 5px solid white;
    background-color: #fff;
}

.bg-theme {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.body.dark {
    background-color: #695a5a;
    color: #fff;
}

.container.dark {
    background-color: #0f0f0f;
}

.body.anime {
    background-color: orangered;
}

.container.anime {
    background-color: white;
}

.branco {
    background-color: #fff;
}

.dark-theme-border,
.anime-theme-border {
    width: 60px;
    height: 30px;
    border-radius: 20px;
}

.dark-theme-border {
    border: 5px solid black;
    position: relative;

}
.dark-theme-border:before{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    left: 1px;
    top: 50%;
    border-radius:50% ;
    background-color: #000000;
    transform: translateY(-50%);
    transition: left 1s;
}
.dark-theme-border.animation:before{
    left: 29px;    
}
.anime-theme-border {
    border: 5px solid orangered;
    position: relative;
}
.anime-theme-border:before{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    left: 1px;
    top: 50%;
    border-radius:50% ;
    background-color: orangered;
    transform: translateY(-50%);
    transition: left 1s;
}
.anime-theme-border.animation:before{
    left: 29px;
    
}